$base-bg-color = #f2f2f2 //页面背景色(浅灰色)
$common-bg-color = #fff //白色

// 页面默认颜色
$theme-color = #3383ff //蓝色主题
$nav-gray = #2b333e
$font-color = #4a4a4a
$border-color = #f2f2f2


// 公共方法
border-radius(argumens)
    -webkit-border-radius argumens
    -moz-border-radius argumens
    border-radius argumens
gray(a)
    rgba(0,0,0,a)

